.Job-picture-container{
  position:relative;
  left:10px;
  margin:10px;
  border-radius:150px;
  background-color:#e0e0eb
}

.Job-picture{
  width:80px;

}

.job{

  height:100px;
  border-bottom: 1px solid #a2a2c3;
  /*margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  margin-bottom:10px;*/
  display:flex
}
.stop{
  width:350px;

  border-left:1px solid #666;
  font-size:12px;

  padding-top:30px;
  padding-left:10px;
  text-align: left
}
.job:hover{
  background-color: #e0e0e0;
  cursor:pointer;
}
.details{
  width:300px;
  font-size:16px;
  font-weight:bold;
  margin-top:auto;
  margin-bottom:auto;
  margin-left: 10px;
  text-align: left
}
.detail-back a{
  color:#000;
}
