.Job-picture-container{
  position:relative;
  left:10px;
  margin:10px;
  height: 100px;
  width:100px;
  border-radius:150px;
  background-color:#e0e0eb
}

.Job-picture{
  width:100px
}

.details-container{width: 20%;}

.job{

  height:auto;
  border-bottom: 1px solid #a2a2c3;
  display:flex
}
.stop{
  display:flex;
  width:40%;
  border-left:1px solid #666;
  font-size:12px;
  padding-left:10px;
  text-align: left
}

.details{
  font-size:18px;
  font-weight:bold;
  margin-top:auto;
  margin-bottom:auto;
  margin-left: 10px;
  text-align: left
}
.stop span{
  line-height: 25px;
  font-size:14px;
  padding-right: 5px}

.stop-details{
  width:55%
}
.stop-details div{
  font-size:16px;
}
.stop-pics{
  width:45%;
  height:100%
}

.stop-pics div{
  height:50%;
}
.pic-header k img{
  height:50px;
  width:50px;
}
.pic-header>img {
  height:50px;
  width:50px;
  cursor:pointer;
}
.pic-header span{
  display:block;
}
.upload-container{opacity:0}
